.ball-container {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  align-items: center;
  background-color: #CC9630;
}
.ball-number{
  flex: 1;
  text-align: center;
  color: white;
  font-size: large;
}