.flow-step {
  padding: 10px;
}
.loading-container {
      display: flex;
         flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: center;


}
.loading-icon {
  margin: 10px;

  animation: spin 3s linear infinite;
}



@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {

    transform: rotate(360deg);
  }
}