.rule-item{
  border-color: var(--ion-color-primary) !important;
  border: 0.5px solid;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 0px 20px;
}

.percentage-arrow-icon{
  margin-left: -5px;
  margin-right: 5px;
}