.series-bars-container {
   
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    flex: 1;
}

.series-bars-data {
    
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex: 1;
}

.series-bars-title {
    margin-top: 10px;
    padding: 5px;
}

.series-bar-item {
    flex: 1;
}

.series-bar-item-extra {
    flex: 1;
    > div {
        float: right;
    }
}