.app-tab-bar {  
  border-radius: 15px;  
  margin: 10px 20px 10px 20px;  
  border: 0.5px solid var(--ion-color-primary);
  padding: 5px;
}

@keyframes scaleUp {
  from {
    scale: 1;
  }

  to {
    scale: 1.2;
  }
}
@keyframes scaleDown {
  from {
    scale: 1.2;
  }

  to {
    scale: 1;
  }
}

.app-tab-bar > ion-tab-button > ion-icon {
  scale: 1;
  animation: scaleDown 0.2s linear;
}

.app-tab-bar > .tab-selected > ion-icon {
  scale: 1.2;
  animation: scaleUp 0.2s linear;
}

.header-md::after {
  background-image: none;
}